/* Variables */

:root {
    --cream: #fff5ec;
    --grey: #5d534e;
    --mint: #cfdac7;
    --moss: #6f8475;
    --peach: #ffa483;
    --rust: #db6551;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

blockquote,
button,
h1,
h2,
p {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
}

blockquote,
p {
    font-size: 1rem;
}

blockquote {
    font-style: italic;
}

button {
    font-size: 0.9rem;
}

h1 {
    font-weight: 800;
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
}

/* Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
}

/* Header */

header {
    position: fixed;
    top: 0;
    right: 5vw;
}

nav {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__button {
    width: 6.5rem;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    margin-right: 0.5rem;
    transition: 0.2s;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.nav__button:hover {
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.3);
}

.nav__button--leader {
    background-color: var(--moss);
    color: var(--cream);
}

.nav__button--board {
    background-color: var(--peach);
}

.nav__button--workshop {
    background-color: var(--grey);
    color: var(--cream);
}

.nav__button--about {
    background-color: var(--mint);
}

.nav__button--contact {
    background-color: var(--rust);
    color: var(--cream);
}

/* index--container */

.index--container {
    margin-top: 3rem;
    margin-left: 1rem;
}

.main--header,
.main--intro > h2 {
    color: var(--rust);
}

.main--intro {
    margin-top: 5rem;
    width: 14rem;
}

.main--intro > p {
    margin-top: 1rem;
}

/* aside */

.main--quotes {
    position: relative;
    top: -7rem;
    left: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    height: 15rem;
}

.main--quotes > .quotes--chalmers {
    width: 17rem;
    align-self: flex-start;
}

.main--quotes > .quotes--ruukel {
    width: 17rem;
    align-self: flex-end;
}

.main--quotes p {
    margin-top: 1rem;
}
